@model IEnumerable<QuanLyHangKhong.Models.ThongTinVeModel>

@{
    ViewBag.Title = "Ve";
}

<h2>Thông Tin Vé Máy Bay</h2>

<p>
    @Html.ActionLink("Thêm Thông Tin Vé", "Create","", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaVe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiVe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaVe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianBay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaHang)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaVe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiVe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaVe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianBay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHang)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { maVe = item.MaVe }, new { @class = "btn  btn-primary" }) 
                @Html.ActionLink("Xóa", "Delete", new { maVe=item.MaVe }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
